<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="src/common.css">
    <link rel="stylesheet" href="src/catering.css">

</head>
<body>
<!--head 开头-->
<div class="header">
    <input type="text" placeholder="食街杯专享5折">
    <ul class="headlist">
        <li class="active">全部</li>
        <li>快食简餐</li>
        <li>地方菜</li>
        <li>西式简餐</li>
        <li>异国风味</li>
        <li>中式正餐</li>
        <li>烧烤海鲜</li>
        <li>甜点饮品</li>
        <li>水果生鲜</li>
        <li>下午茶</li>
        <li>鲜花蛋糕</li>
        <li>超市购</li>
        <li>夜宵</li>
        <li>送药上门</li>
    </ul>
</div>
<!--head 结束-->

<!--img开始-->
<div class="img">
    <img src="img/img1.jpg" alt="">
    <img src="img/img2.jpg" alt="">
</div>
<!--img结束-->

<!--selectpackage 开始-->
<div class="selectpackage">
    <div class="selectpackage_tit">
        <h3>精选套餐</h3>
        <p>更多</p>
    </div>
    <div class="menu">
        <div class="menuList">
            <img src="img/sp1.jpg"/>
            <h3>全熟豪华单人餐</h3>
            <p >1-2人 （25粒） /</p>
            <span>￥120</span>
        </div>
        <div class="menuList">
            <img src="img/sp2.jpg"/>
            <h3>双人冒菜 （素菜 1000克14元）</h3>
            <p >素菜700克 荤菜200克</p>
            <span>￥149</span>
        </div>
        <div class="menuList">
            <img src="img/sp1.jpg"/>
            <h3>全熟豪华单人餐</h3>
            <p >1-2人 （25粒） /</p>
            <span>￥120</span>
        </div>
        <div class="menuList">
            <img src="img/sp2.jpg"/>
            <h3>全熟豪华单人餐</h3>
            <p >1-2人 （25粒） /</p>
            <span>￥120</span>
        </div>
        <div class="menuList">
            <img src="img/sp2.jpg"/>
            <h3>全熟豪华单人餐</h3>
            <p >1-2人 （25粒） /</p>
            <span>￥120</span>
        </div>
        <div class="menuList">
            <img src="img/sp2.jpg"/>
            <h3>全熟豪华单人餐</h3>
            <p >1-2人 （25粒） /</p>
            <span>￥120</span>
        </div>
    </div>
</div>
<!--selectpackage 结束-->

<!--rank 开始-->
<div class="rank">
    <ul class="ranklist">
        <li>综合排序</li>
        <li>销量最高</li>
        <li>距离最近</li>
        <li>筛选</li>
    </ul>
    <ul class="rankbotlist">
        <li>
            <img src="img/rank1.jpg">
            <div class="liright">
                <div class="lirighttop">
                    <h3>肯德基宅急送 （唐兴路店）</h3>
                    <p>品牌</p>
                </div>
                <p>4.8 | 月售 22</p>
                <p>起送￥0 | 配送￥9</p>
                <span class="special">特价</span>
                <span class="invoice">发票</span>
            </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>